.cars-container {
    width: 65vw;
}

.car-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
    align-items: center;
}

.car-details  {
    width: 90%;
}

.favorites-page {
    display: flex;
    padding: 20px;
    padding-top: 7rem;
    overflow: hidden;
}

.main-content {
    justify-content: space-between;
    width: 100%;
}

.unfavorite {
    padding: 0;
    margin-right: 2rem;
    border: 0;
    height: 64px;
    width: 64px;
}

.unfavorite-modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;
    padding: 10vh;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7vh;
}

.unfavorite-modal-message {
    font-size: 32px;
    font-weight: bold;
}

.unfavorite-modal-btns {
    display: flex;
    gap: 7vw;
}

.unfavorite-modal-btns button {
    border-radius: 6px;
    padding: .5rem 1.5rem;
    font-size: 16px;
}

.unfavorite-cancel {
    background-color: #ffffff;
    color: #EB0A1E;
}

.unfavorite-cancel:hover {
    background-color: rgba(0,0,0,0.2);
}

.unfavorite-confirm {
    background-color: #EB0A1E;
    color: hsl(220, 2%, 80%);
}

.unfavorite-confirm:hover {
    background-color: hsl(355, 92%, 30%)
}

.fav-sidebar {
    width: 300px;
    background-color: #fff;
    border: 1px solid var(--primary-gray);
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto; 
    min-height: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-separator {
    border: 1px solid var(--primary-gray);
}

.comp-buttons {
    display: flex;
    flex-direction: column;
}

.compare-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: var(--primary-red); 
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.creation-text {
    min-height: 40px;
    padding-bottom: 16px;
    text-align: center;
    text-justify: center;
    color: #58595B;
}