.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 6rem;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0 2rem;
    border-bottom: 2px solid #000000;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vh;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
}

.header-logo {
  width: 5.5rem;
}
